In [33]:
from collections import defaultdict
from itertools import *
import json
from operator import *
import pickle
import re

import matplotlib.pylab as pl
import numpy as np
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from scipy.sparse import csr_matrix
sc

In [39]:
input_dir = '/home/ubuntu/cfq/data/cfq_original'
output_dir = '/home/ubuntu/cfq/data/cfq_out'

df = sqlCtx.read.parquet(f'{input_dir}/dataset.parquet').sort('index').persist()
df.columns

['complexityMeasures',
 'expectedResponse',
 'expectedResponseWithMids',
 'inder',
 'index',
 'question',
 'questionPatternModEntities',
 'questionTemplate',
 'questionWithBrackets',
 'questionWithMids',
 'ruleIds',
 'ruleTree',
 'sparql',
 'sparqlPattern',
 'sparqlPatternModEntities']

In [42]:
splits = {}
split_ids = !ls {input_dir}/splits | grep json
for split_id in [s.replace('.json', '') for s in split_ids]:
    split = splits[split_id] = json.load(open(f'{input_dir}/splits/{split_id}.json'))
    np.savez(f'{output_dir}/splits/{split_id}', **{k : np.array(v) for k, v in split.items()})
    print(split_id, len(split['trainIdxs']), len(split['devIdxs']), len(split['testIdxs']), df.count())

mcd1 95743 11968 11968 239357
mcd2 95743 11968 11968 239357
mcd3 95743 11968 11968 239357
query_complexity_split 100654 9512 9512 239357
query_pattern_split 94600 12489 12589 239357
question_complexity_split 98999 10339 10340 239357
question_pattern_split 95654 12115 11909 239357
random_split 95744 11967 11967 239357

In [43]:
w = r"(:?[a-zA-Z]+|M[0-9]|'s|,)"
p = re.compile(fr'(:?{w} )+{w}')
df.rdd.map(lambda r: re.match(p, r['questionPatternModEntities']).string).zip(df.rdd.map(lambda r: r['questionPatternModEntities'])).map(lambda r: r[0] == r[1]).reduce(and_)

True

In [44]:
def replace(q):
    for s in [
        'art director',
        'country of nationality',
        'costume designer',
        'executive producer',
        'executive produce',
        'executive produced',
        'film director',
        'film distributor',
        'film editor',
        'film producer',
        'production company',
    ]:
        q = q.replace(s, s.replace(' ', ''))
    return q

df = df.withColumn('questionPatternModEntities', udf(replace, StringType())('questionPatternModEntities')).persist()
df.rdd.map(lambda r: len(r['questionPatternModEntities'].split(' ')) == len(r['questionTemplate'].split(' '))).reduce(and_)

True

In [45]:
at = lambda i: (lambda x: x[i])
k1 = lambda r: [r, 1]
unique = lambda rdd: sorted(rdd.distinct().collect())
count = lambda rdd: dict(rdd.map(k1).reduceByKey(add).collect())

In [46]:
def find_rel(line):
    if 'FILTER' in line:
        [[src, dst, *_]] = re.findall(r'^FILTER \( ([^ ]+) != ([^ ]+) \)( .)?$', line)
        return src, '!=', dst
    else:
        [[src, typ, dst, *_]] = re.findall(r'^([^ ]+) ([^ ]+) ([^ ]+)( .)?$', line)
        return src, typ, dst

In [47]:
rels = df.rdd.flatMap(lambda r: r['sparqlPatternModEntities'].split('\n')[1 : -1]).map(find_rel).cache()
srcs, typs, dsts = map(unique, [rels.map(at(0)), rels.map(at(1)), rels.map(at(2))])
srcs, typs, dsts

(['?x0',
  '?x1',
  '?x2',
  '?x3',
  '?x4',
  '?x5',
  'M0',
  'M1',
  'M2',
  'M3',
  'M4',
  'M5',
  'M6',
  'M7',
  'M8',
  'M9'],
 ['!=',
  '^ns:people.person.gender',
  '^ns:people.person.nationality',
  'a',
  'ns:business.employer.employees/ns:business.employment_tenure.person',
  'ns:film.actor.film/ns:film.performance.character',
  'ns:film.actor.film/ns:film.performance.film',
  'ns:film.cinematographer.film',
  'ns:film.director.film',
  'ns:film.editor.film',
  'ns:film.film.cinematography',
  'ns:film.film.costume_design_by',
  'ns:film.film.directed_by',
  'ns:film.film.distributors/ns:film.film_film_distributor_relationship.distributor',
  'ns:film.film.edited_by',
  'ns:film.film.executive_produced_by',
  'ns:film.film.film_art_direction_by',
  'ns:film.film.prequel',
  'ns:film.film.produced_by|ns:film.film.production_companies',
  'ns:film.film.sequel',
  'ns:film.film.starring/ns:film.performance.actor',
  'ns:film.film.written_by',
  'ns:film.film_art_director.films_art_directed',
  'ns:film.film_costumer_designer.costume_design_for_film',
  'ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film',
  'ns:film.producer.films_executive_produced',
  'ns:film.producer.film|ns:film.production_company.films',
  'ns:film.writer.film',
  'ns:influence.influence_node.influenced',
  'ns:influence.influence_node.influenced_by',
  'ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company',
  'ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired',
  'ns:organization.organization.founders',
  'ns:organization.organization_founder.organizations_founded',
  'ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child',
  'ns:people.person.employment_history/ns:business.employment_tenure.company',
  'ns:people.person.gender',
  'ns:people.person.nationality',
  'ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent',
  'ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings',
  'ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses'],
 ['?x0',
  '?x1',
  '?x2',
  '?x3',
  '?x4',
  '?x5',
  'M0',
  'M1',
  'M2',
  'M3',
  'M4',
  'M5',
  'M6',
  'M7',
  'M8',
  'M9',
  'ns:business.employer',
  'ns:fictional_universe.fictional_character',
  'ns:film.actor',
  'ns:film.cinematographer',
  'ns:film.director',
  'ns:film.editor',
  'ns:film.film',
  'ns:film.film_art_director',
  'ns:film.film_costumer_designer',
  'ns:film.film_distributor',
  'ns:film.producer',
  'ns:film.production_company',
  'ns:film.writer',
  'ns:m.02zsn',
  'ns:m.0345h',
  'ns:m.03_3d',
  'ns:m.03rjj',
  'ns:m.059j2',
  'ns:m.05zppz',
  'ns:m.06mkj',
  'ns:m.07ssc',
  'ns:m.09c7w0',
  'ns:m.0b90_r',
  'ns:m.0d05w3',
  'ns:m.0d060g',
  'ns:m.0d0vqn',
  'ns:m.0f8l9c',
  'ns:people.person'])

In [48]:
idx2typ = sorted(typ for typ in typs if typ not in ['a', '!=', 'ns:people.person.gender', 'ns:people.person.nationality'])
typ2idx = {typ : idx for idx, typ in enumerate(idx2typ)}
idx2typ

['^ns:people.person.gender',
 '^ns:people.person.nationality',
 'ns:business.employer.employees/ns:business.employment_tenure.person',
 'ns:film.actor.film/ns:film.performance.character',
 'ns:film.actor.film/ns:film.performance.film',
 'ns:film.cinematographer.film',
 'ns:film.director.film',
 'ns:film.editor.film',
 'ns:film.film.cinematography',
 'ns:film.film.costume_design_by',
 'ns:film.film.directed_by',
 'ns:film.film.distributors/ns:film.film_film_distributor_relationship.distributor',
 'ns:film.film.edited_by',
 'ns:film.film.executive_produced_by',
 'ns:film.film.film_art_direction_by',
 'ns:film.film.prequel',
 'ns:film.film.produced_by|ns:film.film.production_companies',
 'ns:film.film.sequel',
 'ns:film.film.starring/ns:film.performance.actor',
 'ns:film.film.written_by',
 'ns:film.film_art_director.films_art_directed',
 'ns:film.film_costumer_designer.costume_design_for_film',
 'ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film',
 'ns:film.producer.films_executive_produced',
 'ns:film.producer.film|ns:film.production_company.films',
 'ns:film.writer.film',
 'ns:influence.influence_node.influenced',
 'ns:influence.influence_node.influenced_by',
 'ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company',
 'ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired',
 'ns:organization.organization.founders',
 'ns:organization.organization_founder.organizations_founded',
 'ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child',
 'ns:people.person.employment_history/ns:business.employment_tenure.company',
 'ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent',
 'ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings',
 'ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses']

In [49]:
acquiring = 'ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company'
df.rdd.filter(lambda r: acquiring in r['sparqlPatternModEntities']).map(lambda r: r['questionPatternModEntities']).take(10)

['Did M2 , M3 , M4 , and M5 found a productioncompany that was acquired by M1',
 'Did M2 employ M3 and M4 and employ a filmproducer whose employer was acquired by M1',
 'Did M2 acquire M3 , acquire a productioncompany that M1 acquired , and acquire M4 , M5 , and M6',
 'Did M4 acquire a filmdistributor that M1 , M2 , and M3 acquired',
 'Did M2 acquire a filmdistributor that M1 acquired and acquire M3',
 'Did M6 acquire a filmdistributor that M1 , M2 , M3 , M4 , and M5 acquired and acquire M7',
 'Did M3 and M4 found a filmdistributor that M1 and M2 acquired',
 'Did M4 found a company that M1 , M2 , and M3 acquired',
 'Did M3 found a company acquired by M1 and M2',
 'Did M3 found M4 and found a filmdistributor that acquired M2 and was acquired by M1']

In [50]:
for sparql in df.rdd.filter(lambda r: acquiring in r['sparqlPatternModEntities']).map(lambda r: r['sparqlPatternModEntities']).take(10):
    print(sparql)

SELECT count(*) WHERE {
?x0 a ns:film.production_company .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
M2 ns:organization.organization_founder.organizations_founded ?x0 .
M3 ns:organization.organization_founder.organizations_founded ?x0 .
M4 ns:organization.organization_founder.organizations_founded ?x0 .
M5 ns:organization.organization_founder.organizations_founded ?x0
}
SELECT count(*) WHERE {
?x0 a ns:film.producer .
?x0 ns:people.person.employment_history/ns:business.employment_tenure.company ?x1 .
?x1 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0 .
M2 ns:business.employer.employees/ns:business.employment_tenure.person M3 .
M2 ns:business.employer.employees/ns:business.employment_tenure.person M4
}
SELECT count(*) WHERE {
?x0 a ns:film.production_company .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M3 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M4 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M5 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M6
}
SELECT count(*) WHERE {
?x0 a ns:film.film_distributor .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M2 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M3 .
M4 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0
}
SELECT count(*) WHERE {
?x0 a ns:film.film_distributor .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M3
}
SELECT count(*) WHERE {
?x0 a ns:film.film_distributor .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M2 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M3 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M4 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M5 .
M6 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0 .
M6 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M7
}
SELECT count(*) WHERE {
?x0 a ns:film.film_distributor .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M2 .
M3 ns:organization.organization_founder.organizations_founded ?x0 .
M4 ns:organization.organization_founder.organizations_founded ?x0
}
SELECT count(*) WHERE {
?x0 a ns:business.employer .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M2 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M3 .
M4 ns:organization.organization_founder.organizations_founded ?x0
}
SELECT count(*) WHERE {
?x0 a ns:business.employer .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M2 .
M3 ns:organization.organization_founder.organizations_founded ?x0
}
SELECT count(*) WHERE {
?x0 a ns:film.film_distributor .
?x0 ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company M1 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M2 .
M3 ns:organization.organization_founder.organizations_founded ?x0 .
M3 ns:organization.organization_founder.organizations_founded M4
}

In [51]:
acquired = 'ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired'
df.rdd.filter(lambda r: acquired in r['sparqlPatternModEntities']).map(lambda r: r['questionPatternModEntities']).take(10)

["Did M0 's child 's child acquire a filmdistributor",
 "Did M6 's distributor and producer acquire M0 and acquire M1 , M2 , M3 , M4 , and M5",
 "Did M2 's producer acquire M0 and M1 and acquire a productioncompany",
 'Did M0 acquire M1 and M2 , acquire M3 , and acquire M4 , M5 , M6 , and M7',
 "Did M1 acquire M2 , M3 , and M4 and acquire a filmdirector 's employer",
 "Did M2 acquire a company and acquire M0 's employer",
 "Did M1 acquire M0 's distributor",
 "Did M1 acquire M0 's producer",
 'Did M1 acquire a producer of M0',
 'Did M1 acquire a producer of a film']

In [52]:
for sparql in df.rdd.filter(lambda r: acquired in r['sparqlPatternModEntities']).map(lambda r: r['sparqlPatternModEntities']).take(10):
    print(sparql)

SELECT count(*) WHERE {
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x1 .
?x0 ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent ?x2 .
?x1 a ns:film.film_distributor .
?x2 ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent M0
}
SELECT count(*) WHERE {
?x0 ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film M6 .
?x0 ns:film.producer.film|ns:film.production_company.films M6 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M0 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M1 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M2 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M3 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M4 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M5
}
SELECT count(*) WHERE {
?x0 ns:film.producer.film|ns:film.production_company.films M2 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x1 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M0 .
?x0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M1 .
?x1 a ns:film.production_company
}
SELECT count(*) WHERE {
M0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M1 .
M0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M2 .
M0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M3 .
M0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M4 .
M0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M5 .
M0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M6 .
M0 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M7
}
SELECT count(*) WHERE {
?x0 ns:business.employer.employees/ns:business.employment_tenure.person ?x1 .
?x1 a ns:film.director .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0 .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M2 .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M3 .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired M4
}
SELECT count(*) WHERE {
?x0 ns:business.employer.employees/ns:business.employment_tenure.person M0 .
?x1 a ns:business.employer .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0 .
M2 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x1
}
SELECT count(*) WHERE {
?x0 ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film M0 .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0
}
SELECT count(*) WHERE {
?x0 ns:film.producer.film|ns:film.production_company.films M0 .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0
}
SELECT count(*) WHERE {
?x0 ns:film.producer.film|ns:film.production_company.films M0 .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0
}
SELECT count(*) WHERE {
?x0 ns:film.producer.film|ns:film.production_company.films ?x1 .
?x1 a ns:film.film .
M1 ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired ?x0
}

In [53]:
# categories
a = rels.filter(lambda r: r[1] == 'a').cache()
cats = unique(a.map(at(2)))
unique(a.map(at(0))), cats

(['?x0',
  '?x1',
  '?x2',
  '?x3',
  '?x4',
  '?x5',
  'M0',
  'M1',
  'M2',
  'M3',
  'M4',
  'M5',
  'M6'],
 ['ns:business.employer',
  'ns:fictional_universe.fictional_character',
  'ns:film.actor',
  'ns:film.cinematographer',
  'ns:film.director',
  'ns:film.editor',
  'ns:film.film',
  'ns:film.film_art_director',
  'ns:film.film_costumer_designer',
  'ns:film.film_distributor',
  'ns:film.producer',
  'ns:film.production_company',
  'ns:film.writer',
  'ns:people.person'])

In [54]:
# gender and nationality
for dst in dsts:
    if dst.startswith('ns:') and dst not in cats:
        print(dst, unique(rels.filter(lambda r: r[2] == dst).map(at(1))))

ns:m.02zsn ['ns:people.person.gender']
ns:m.0345h ['ns:people.person.nationality']
ns:m.03_3d ['ns:people.person.nationality']
ns:m.03rjj ['ns:people.person.nationality']
ns:m.059j2 ['ns:people.person.nationality']
ns:m.05zppz ['ns:people.person.gender']
ns:m.06mkj ['ns:people.person.nationality']
ns:m.07ssc ['ns:people.person.nationality']
ns:m.09c7w0 ['ns:people.person.nationality']
ns:m.0b90_r ['ns:people.person.nationality']
ns:m.0d05w3 ['ns:people.person.nationality']
ns:m.0d060g ['ns:people.person.nationality']
ns:m.0d0vqn ['ns:people.person.nationality']
ns:m.0f8l9c ['ns:people.person.nationality']

In [55]:
idx2attr = sorted(dst for dst in dsts if dst.startswith('ns:'))
idx2attr

['ns:business.employer',
 'ns:fictional_universe.fictional_character',
 'ns:film.actor',
 'ns:film.cinematographer',
 'ns:film.director',
 'ns:film.editor',
 'ns:film.film',
 'ns:film.film_art_director',
 'ns:film.film_costumer_designer',
 'ns:film.film_distributor',
 'ns:film.producer',
 'ns:film.production_company',
 'ns:film.writer',
 'ns:m.02zsn',
 'ns:m.0345h',
 'ns:m.03_3d',
 'ns:m.03rjj',
 'ns:m.059j2',
 'ns:m.05zppz',
 'ns:m.06mkj',
 'ns:m.07ssc',
 'ns:m.09c7w0',
 'ns:m.0b90_r',
 'ns:m.0d05w3',
 'ns:m.0d060g',
 'ns:m.0d0vqn',
 'ns:m.0f8l9c',
 'ns:people.person']

In [56]:
ne = rels.filter(lambda r: r[1] == '!=').cache()
unique(ne.map(at(0))), unique(ne.map(at(2)))

(['?x0',
  '?x1',
  '?x2',
  '?x3',
  '?x4',
  'M0',
  'M1',
  'M2',
  'M3',
  'M4',
  'M5',
  'M6',
  'M7'],
 ['?x0',
  '?x1',
  '?x2',
  '?x3',
  '?x4',
  '?x5',
  'M0',
  'M1',
  'M2',
  'M3',
  'M4',
  'M5',
  'M6',
  'M7',
  'M8'])

In [57]:
tok_vocab = unique(df.rdd.flatMap(lambda r: r['questionPatternModEntities'].split(' ')))
tok_vocab

["'s",
 ',',
 'American',
 'British',
 'Canadian',
 'Chinese',
 'Did',
 'Dutch',
 'French',
 'German',
 'Italian',
 'Japanese',
 'M0',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'Mexican',
 'Spanish',
 'Swedish',
 'Was',
 'Were',
 'What',
 'Which',
 'Who',
 'a',
 'acquire',
 'acquired',
 'actor',
 'and',
 'artdirector',
 'by',
 'character',
 'child',
 'cinematographer',
 'company',
 'costumedesigner',
 'countryofnationality',
 'did',
 'direct',
 'directed',
 'director',
 'distribute',
 'distributed',
 'distributor',
 'edit',
 'edited',
 'editor',
 'employ',
 'employed',
 'employee',
 'employer',
 'executiveproduce',
 'executiveproduced',
 'executiveproducer',
 'female',
 'film',
 'filmdirector',
 'filmdistributor',
 'filmeditor',
 'filmproducer',
 'found',
 'founded',
 'founder',
 'gender',
 'influence',
 'influenced',
 'male',
 'married',
 'marry',
 'of',
 'parent',
 'person',
 'play',
 'played',
 'prequel',
 'produce',
 'produced',
 'producer',
 'productioncompany',
 'screenwriter',
 'sequel',
 'sibling',
 'spouse',
 'star',
 'starred',
 'that',
 'was',
 'were',
 'whose',
 'write',
 'writer',
 'written',
 'wrote']

In [58]:
# repeated occurence of entities
def _mapper(r):
    c = defaultdict(lambda: 0)
    for tok in r['questionPatternModEntities'].split(' '):
        if re.match('M\d', tok) is not None:
            c[tok] += 1
    return c.items()

def _fn(rdd):
    for [tok, c], n in sorted(count(rdd.flatMap(_mapper)).items()):
        if c > 1:
            print(tok, c, n)

_fn(df.rdd)

for k, v in splits.items():
    print(k)
    indices = set(chain(*splits['mcd1'].values()))
    _fn(df.rdd.filter(lambda r: r['index'] in indices))

M0 2 20
M1 2 17
M2 2 28
M3 2 13
M4 2 5
M5 2 1
mcd1
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1
mcd2
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1
mcd3
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1
query_complexity_split
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1
query_pattern_split
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1
question_complexity_split
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1
question_pattern_split
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1
random_split
M0 2 6
M1 2 12
M2 2 11
M3 2 5
M4 2 1

In [59]:
def _mapper(r):
    rels = list(map(find_rel, r['sparqlPatternModEntities'].split('\n')[1 : -1]))
    ends = set((src, dst) for src, typ, dst in rels if typ != '!=')
    return all((src, dst) in ends for src, typ, dst in rels if typ == '!=')

df.rdd.map(_mapper).reduce(and_)

True

In [60]:
sorted(rels.map(at(1)).map(k1).reduceByKey(add).collect(), key=at(1))

[('ns:film.film.costume_design_by', 56),
 ('ns:film.film.cinematography', 99),
 ('ns:film.film.film_art_direction_by', 101),
 ('^ns:people.person.gender', 1088),
 ('^ns:people.person.nationality', 2171),
 ('ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film',
  5210),
 ('ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired',
  5814),
 ('ns:film.film.prequel', 6337),
 ('ns:film.film.sequel', 6906),
 ('ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company',
  7584),
 ('ns:film.film.distributors/ns:film.film_film_distributor_relationship.distributor',
  9712),
 ('ns:film.film.starring/ns:film.performance.actor', 11668),
 ('ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent',
  15451),
 ('ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child',
  16142),
 ('ns:film.actor.film/ns:film.performance.character', 16942),
 ('ns:business.employer.employees/ns:business.employment_tenure.person',
  19286),
 ('ns:film.film_costumer_designer.costume_design_for_film', 19961),
 ('ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings',
  20668),
 ('ns:organization.organization.founders', 23239),
 ('ns:film.film_art_director.films_art_directed', 25045),
 ('ns:film.cinematographer.film', 30865),
 ('ns:people.person.gender', 31770),
 ('ns:influence.influence_node.influenced', 34149),
 ('ns:organization.organization_founder.organizations_founded', 36247),
 ('ns:film.actor.film/ns:film.performance.film', 37356),
 ('ns:people.person.employment_history/ns:business.employment_tenure.company',
  42710),
 ('ns:film.producer.films_executive_produced', 48110),
 ('ns:film.producer.film|ns:film.production_company.films', 48275),
 ('ns:film.film.produced_by|ns:film.film.production_companies', 50440),
 ('ns:film.film.edited_by', 57106),
 ('ns:film.film.executive_produced_by', 57805),
 ('ns:film.film.directed_by', 57981),
 ('ns:film.film.written_by', 59613),
 ('ns:film.writer.film', 60544),
 ('ns:film.director.film', 60617),
 ('ns:film.editor.film', 60634),
 ('ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses',
  61439),
 ('ns:influence.influence_node.influenced_by', 64052),
 ('ns:people.person.nationality', 71306),
 ('!=', 82107),
 ('a', 170287)]

In [61]:
dsts

['?x0',
 '?x1',
 '?x2',
 '?x3',
 '?x4',
 '?x5',
 'M0',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'ns:business.employer',
 'ns:fictional_universe.fictional_character',
 'ns:film.actor',
 'ns:film.cinematographer',
 'ns:film.director',
 'ns:film.editor',
 'ns:film.film',
 'ns:film.film_art_director',
 'ns:film.film_costumer_designer',
 'ns:film.film_distributor',
 'ns:film.producer',
 'ns:film.production_company',
 'ns:film.writer',
 'ns:m.02zsn',
 'ns:m.0345h',
 'ns:m.03_3d',
 'ns:m.03rjj',
 'ns:m.059j2',
 'ns:m.05zppz',
 'ns:m.06mkj',
 'ns:m.07ssc',
 'ns:m.09c7w0',
 'ns:m.0b90_r',
 'ns:m.0d05w3',
 'ns:m.0d060g',
 'ns:m.0d0vqn',
 'ns:m.0f8l9c',
 'ns:people.person']

In [62]:
roles = df.rdd.flatMap(lambda r: re.findall(r'\[[^\]]+\]', r['questionTemplate'])).distinct().collect()
roles

['[NP_SIMPLE]',
 '[entity]',
 '[ADJECTIVE_SIMPLE]',
 '[VP_SIMPLE]',
 '[ROLE_SIMPLE]']

In [63]:
def _mapper(r):
    d = defaultdict(set)
    for x, y in zip(r['questionPatternModEntities'].split(' '), r['questionTemplate'].split(' ')):
        if y in roles:
            d[y].add(x)
    return [[role, d[role]] for role in roles]

role2toks = dict(df.rdd.flatMap(_mapper).reduceByKey(set.union).collect())
role2toks

{'[NP_SIMPLE]': {'actor',
  'artdirector',
  'character',
  'cinematographer',
  'company',
  'costumedesigner',
  'film',
  'filmdirector',
  'filmdistributor',
  'filmeditor',
  'filmproducer',
  'person',
  'productioncompany',
  'screenwriter'},
 '[entity]': {'M0', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9'},
 '[ADJECTIVE_SIMPLE]': {'American',
  'British',
  'Canadian',
  'Chinese',
  'Dutch',
  'French',
  'German',
  'Italian',
  'Japanese',
  'Mexican',
  'Spanish',
  'Swedish',
  'female',
  'male'},
 '[VP_SIMPLE]': {'acquire',
  'acquired',
  'direct',
  'directed',
  'distribute',
  'distributed',
  'edit',
  'edited',
  'employ',
  'employed',
  'executiveproduce',
  'executiveproduced',
  'found',
  'founded',
  'influence',
  'influenced',
  'married',
  'marry',
  'play',
  'played',
  'produce',
  'produced',
  'star',
  'starred',
  'write',
  'written',
  'wrote'},
 '[ROLE_SIMPLE]': {'actor',
  'artdirector',
  'child',
  'cinematographer',
  'costumedesigner',
  'countryofnationality',
  'director',
  'distributor',
  'editor',
  'employee',
  'employer',
  'executiveproducer',
  'founder',
  'gender',
  'parent',
  'prequel',
  'producer',
  'sequel',
  'sibling',
  'spouse',
  'star',
  'writer'}}

In [64]:
special_roles = ['[VP_SIMPLE]', '[ROLE_SIMPLE]']

def _mapper(r):
    uniq_toks = set()
    for role in special_roles:
        for tok in role2toks[role]:
            if tok in r['questionPatternModEntities'].split(' '):
                uniq_toks.add(tok)
    _, typs, _ = list(zip(*map(find_rel, r['sparqlPatternModEntities'].split('\n')[1 : -1])))
    uniq_typs = set(typs)
    return list(product(uniq_toks, uniq_typs)), uniq_toks, uniq_typs

occs = df.rdd.map(_mapper).persist()
both, c_tok, c_rel = map(count, (occs.flatMap(at(0)), occs.flatMap(at(1)), occs.flatMap(at(2))))

In [65]:
def _fn(by):
    for key, grp in groupby(sorted(([tok, [typ, c]] if by == 'tok' else [typ, [tok, c]]
                                    for [tok, typ], c in both.items()), key=at(0)), at(0)):
        _, c = zip(*grp)
        print(key, (c_tok if by == 'tok' else c_rel)[key])
        print(*islice(sorted(c, key=at(1), reverse=True), 3), sep='\n')
        
_fn('tok')
print()
_fn('typ')

acquire 1830
['ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired', 1307]
['a', 1086]
['ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company', 540]
acquired 2625
['ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company', 2246]
['a', 1826]
['ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired', 809]
actor 20287
['a', 15062]
['ns:film.actor.film/ns:film.performance.character', 9219]
['ns:people.person.nationality', 7425]
artdirector 31822
['ns:film.film_art_director.films_art_directed', 22744]
['a', 17117]
['ns:film.editor.film', 9740]
child 14955
['ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent', 14747]
['a', 9731]
['ns:people.person.nationality', 4293]
cinematographer 37256
['ns:film.cinematographer.film', 26135]
['a', 20010]
['ns:film.editor.film', 11418]
costumedesigner 27051
['ns:film.film_costumer_designer.costume_design_for_film', 18185]
['a', 15730]
['ns:film.editor.film', 7366]
countryofnationality 2091
['^ns:people.person.nationality', 2034]
['a', 1070]
['ns:people.person.employment_history/ns:business.employment_tenure.company', 664]
direct 12994
['ns:film.director.film', 9553]
['ns:film.editor.film', 6122]
['ns:film.writer.film', 5917]
directed 35325
['ns:film.film.directed_by', 27909]
['a', 19373]
['ns:film.film.edited_by', 15800]
director 27032
['ns:film.director.film', 26945]
['ns:film.editor.film', 10073]
['ns:film.writer.film', 9855]
distribute 1357
['a', 802]
['ns:film.film.distributors/ns:film.film_film_distributor_relationship.distributor', 742]
['ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film', 642]
distributed 4012
['ns:film.film.distributors/ns:film.film_film_distributor_relationship.distributor', 3455]
['a', 2725]
['ns:film.film.produced_by|ns:film.film.production_companies', 2436]
distributor 2936
['ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film', 2921]
['a', 1334]
['ns:film.producer.film|ns:film.production_company.films', 1236]
edit 13465
['ns:film.editor.film', 9889]
['ns:film.director.film', 6136]
['ns:film.writer.film', 6118]
edited 35069
['ns:film.film.edited_by', 27680]
['a', 19194]
['ns:film.film.directed_by', 15802]
editor 26676
['ns:film.editor.film', 26590]
['ns:film.director.film', 10025]
['ns:film.writer.film', 9765]
employ 4485
['ns:business.employer.employees/ns:business.employment_tenure.person', 3211]
['a', 3031]
['ns:people.person.employment_history/ns:business.employment_tenure.company', 1639]
employed 10157
['ns:people.person.employment_history/ns:business.employment_tenure.company', 9027]
['a', 8270]
['ns:organization.organization_founder.organizations_founded', 3379]
employee 14665
['ns:people.person.employment_history/ns:business.employment_tenure.company', 14106]
['a', 8386]
['ns:organization.organization_founder.organizations_founded', 6644]
employer 6398
['ns:business.employer.employees/ns:business.employment_tenure.person', 6161]
['a', 4194]
['ns:people.person.employment_history/ns:business.employment_tenure.company', 1923]
executiveproduce 12932
['ns:film.producer.films_executive_produced', 8590]
['ns:film.director.film', 5397]
['ns:film.writer.film', 5318]
executiveproduced 33610
['ns:film.film.executive_produced_by', 27274]
['a', 18347]
['ns:film.film.written_by', 14632]
executiveproducer 21191
['ns:film.producer.films_executive_produced', 21129]
['a', 8169]
['ns:film.writer.film', 7444]
found 4168
['ns:organization.organization_founder.organizations_founded', 2497]
['a', 2426]
['ns:organization.organization.founders', 1808]
founded 11375
['a', 8246]
['ns:organization.organization.founders', 6556]
['ns:organization.organization_founder.organizations_founded', 5550]
founder 15611
['ns:organization.organization_founder.organizations_founded', 15014]
['a', 8960]
['ns:people.person.employment_history/ns:business.employment_tenure.company', 6701]
gender 1024
['^ns:people.person.gender', 1024]
['ns:people.person.nationality', 584]
['a', 478]
influence 12828
['a', 8589]
['ns:influence.influence_node.influenced', 7951]
['!=', 7403]
influenced 25279
['a', 20979]
['ns:influence.influence_node.influenced_by', 20798]
['ns:influence.influence_node.influenced', 9555]
married 10186
['!=', 10186]
['ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses', 10186]
['a', 9239]
marry 13456
['ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses', 13456]
['!=', 13456]
['a', 9204]
parent 15574
['ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child', 15374]
['a', 10295]
['ns:people.person.nationality', 4486]
play 1235
['ns:film.actor.film/ns:film.performance.character', 1235]
['ns:people.person.nationality', 481]
['a', 416]
played 2093
['ns:film.actor.film/ns:film.performance.character', 2093]
['a', 1570]
['ns:people.person.nationality', 926]
prequel 6682
['ns:film.film.sequel', 6638]
['a', 2832]
['ns:film.director.film', 1707]
produce 12330
['ns:film.producer.film|ns:film.production_company.films', 8582]
['ns:film.editor.film', 5459]
['ns:film.director.film', 5410]
produced 31964
['ns:film.film.produced_by|ns:film.film.production_companies', 26718]
['a', 17228]
['ns:film.film.written_by', 13755]
producer 25660
['ns:film.producer.film|ns:film.production_company.films', 25645]
['a', 9777]
['ns:film.editor.film', 8536]
sequel 6173
['ns:film.film.prequel', 6129]
['a', 2811]
['ns:film.director.film', 1557]
sibling 19568
['!=', 19568]
['ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings', 19568]
['a', 11609]
spouse 20224
['ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses', 20224]
['!=', 20224]
['a', 11993]
star 30774
['ns:film.actor.film/ns:film.performance.film', 27305]
['a', 12937]
['ns:film.director.film', 9348]
starred 3355
['a', 3088]
['ns:film.actor.film/ns:film.performance.film', 2471]
['ns:people.person.nationality', 1171]
write 13169
['ns:film.writer.film', 9484]
['ns:film.editor.film', 6070]
['ns:film.director.film', 5946]
writer 26892
['ns:film.writer.film', 26799]
['a', 10145]
['ns:film.editor.film', 9819]
written 30157
['ns:film.film.written_by', 27840]
['a', 15617]
['ns:film.film.edited_by', 15430]
wrote 5048
['ns:film.writer.film', 4959]
['a', 3898]
['ns:film.director.film', 2146]

!= 56702
['spouse', 20224]
['sibling', 19568]
['marry', 13456]
^ns:people.person.gender 1024
['gender', 1024]
['actor', 135]
['sibling', 134]
^ns:people.person.nationality 2034
['countryofnationality', 2034]
['employed', 339]
['employee', 286]
a 146641
['influenced', 20979]
['cinematographer', 20010]
['directed', 19373]
ns:business.employer.employees/ns:business.employment_tenure.person 10866
['employer', 6161]
['employ', 3211]
['employed', 2054]
ns:film.actor.film/ns:film.performance.character 12209
['actor', 9219]
['played', 2093]
['play', 1235]
ns:film.actor.film/ns:film.performance.film 29669
['star', 27305]
['cinematographer', 9077]
['artdirector', 8351]
ns:film.cinematographer.film 26135
['cinematographer', 26135]
['editor', 9188]
['director', 8807]
ns:film.director.film 42005
['director', 26945]
['cinematographer', 10995]
['directed', 10386]
ns:film.editor.film 41846
['editor', 26590]
['cinematographer', 11418]
['edited', 10583]
ns:film.film.cinematography 99
['cinematographer', 99]
['executiveproduced', 27]
['director', 25]
ns:film.film.costume_design_by 56
['costumedesigner', 56]
['edited', 15]
['wrote', 13]
ns:film.film.directed_by 31855
['directed', 27909]
['edited', 15802]
['written', 15211]
ns:film.film.distributors/ns:film.film_film_distributor_relationship.distributor 4208
['distributed', 3455]
['produced', 2433]
['distribute', 742]
ns:film.film.edited_by 31856
['edited', 27680]
['directed', 15800]
['written', 15430]
ns:film.film.executive_produced_by 31937
['executiveproduced', 27274]
['written', 14527]
['directed', 14342]
ns:film.film.film_art_direction_by 101
['artdirector', 101]
['produced', 25]
['directed', 25]
ns:film.film.prequel 6175
['sequel', 6129]
['directed', 1035]
['edited', 978]
ns:film.film.produced_by|ns:film.film.production_companies 30979
['produced', 26718]
['edited', 13778]
['written', 13716]
ns:film.film.sequel 6683
['prequel', 6638]
['directed', 1191]
['edited', 1140]
ns:film.film.starring/ns:film.performance.actor 4724
['star', 3842]
['starred', 940]
['cinematographer', 649]
ns:film.film.written_by 32180
['written', 27840]
['edited', 15529]
['directed', 15357]
ns:film.film_art_director.films_art_directed 22744
['artdirector', 22744]
['cinematographer', 8410]
['editor', 8044]
ns:film.film_costumer_designer.costume_design_for_film 18185
['costumedesigner', 18185]
['artdirector', 6372]
['editor', 5952]
ns:film.film_distributor.films_distributed/ns:film.film_film_distributor_relationship.film 4072
['distributor', 2921]
['producer', 1231]
['distributed', 709]
ns:film.producer.films_executive_produced 34794
['executiveproducer', 21129]
['executiveproduce', 8590]
['executiveproduced', 8456]
ns:film.producer.film|ns:film.production_company.films 37786
['producer', 25645]
['cinematographer', 9834]
['artdirector', 9023]
ns:film.writer.film 41572
['writer', 26799]
['cinematographer', 10884]
['director', 9855]
ns:influence.influence_node.influenced 17354
['influenced', 9555]
['influence', 7951]
['marry', 4128]
ns:influence.influence_node.influenced_by 25623
['influenced', 20798]
['influence', 5006]
['married', 4368]
ns:organization.organization.acquired_by/ns:business.acquisition.acquiring_company 2761
['acquired', 2246]
['employer', 622]
['acquire', 540]
ns:organization.organization.companies_acquired/ns:business.acquisition.company_acquired 2097
['acquire', 1307]
['acquired', 809]
['employer', 459]
ns:organization.organization.founders 8869
['founded', 6556]
['found', 1808]
['founder', 1386]
ns:organization.organization_founder.organizations_founded 21886
['founder', 15014]
['employee', 6644]
['founded', 5550]
ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child 15583
['parent', 15374]
['child', 2052]
['spouse', 1840]
ns:people.person.employment_history/ns:business.employment_tenure.company 24087
['employee', 14106]
['employed', 9027]
['founder', 6701]
ns:people.person.gender 30952
['spouse', 4653]
['sibling', 4261]
['cinematographer', 3563]
ns:people.person.nationality 64135
['spouse', 7723]
['produced', 7706]
['directed', 7454]
ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent 14946
['child', 14747]
['parent', 2041]
['sibling', 1804]
ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings 19568
['sibling', 19568]
['spouse', 2596]
['directed', 1983]
ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses 41566
['spouse', 20224]
['marry', 13456]
['married', 10186]

In [66]:
SEP, NIL = '{SEP}', '{NIL}'

In [67]:
isvar = lambda tok: tok.startswith('?x')
idx2var = sorted(set(chain(filter(isvar, srcs), filter(isvar, dsts))))
idx2var

['?x0', '?x1', '?x2', '?x3', '?x4', '?x5']

In [68]:
idx2tok = [SEP, NIL] + idx2var + unique(df.rdd.flatMap(lambda r: r['questionPatternModEntities'].split(' ')))
tok2idx = {tok : idx for idx, tok in enumerate(idx2tok)}
idx2tok

['{SEP}',
 '{NIL}',
 '?x0',
 '?x1',
 '?x2',
 '?x3',
 '?x4',
 '?x5',
 "'s",
 ',',
 'American',
 'British',
 'Canadian',
 'Chinese',
 'Did',
 'Dutch',
 'French',
 'German',
 'Italian',
 'Japanese',
 'M0',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'Mexican',
 'Spanish',
 'Swedish',
 'Was',
 'Were',
 'What',
 'Which',
 'Who',
 'a',
 'acquire',
 'acquired',
 'actor',
 'and',
 'artdirector',
 'by',
 'character',
 'child',
 'cinematographer',
 'company',
 'costumedesigner',
 'countryofnationality',
 'did',
 'direct',
 'directed',
 'director',
 'distribute',
 'distributed',
 'distributor',
 'edit',
 'edited',
 'editor',
 'employ',
 'employed',
 'employee',
 'employer',
 'executiveproduce',
 'executiveproduced',
 'executiveproducer',
 'female',
 'film',
 'filmdirector',
 'filmdistributor',
 'filmeditor',
 'filmproducer',
 'found',
 'founded',
 'founder',
 'gender',
 'influence',
 'influenced',
 'male',
 'married',
 'marry',
 'of',
 'parent',
 'person',
 'play',
 'played',
 'prequel',
 'produce',
 'produced',
 'producer',
 'productioncompany',
 'screenwriter',
 'sequel',
 'sibling',
 'spouse',
 'star',
 'starred',
 'that',
 'was',
 'were',
 'whose',
 'write',
 'writer',
 'written',
 'wrote']

In [69]:
idx2tag = [SEP, NIL] + idx2var + unique(df.rdd.flatMap(lambda r: r['questionTemplate'].split(' ')))
tag2idx = {tag : idx for idx, tag in enumerate(idx2tag)}
idx2tag

['{SEP}',
 '{NIL}',
 '?x0',
 '?x1',
 '?x2',
 '?x3',
 '?x4',
 '?x5',
 "'s",
 ',',
 'Did',
 'Was',
 'Were',
 'What',
 'Which',
 'Who',
 '[ADJECTIVE_SIMPLE]',
 '[NP_SIMPLE]',
 '[ROLE_SIMPLE]',
 '[VP_SIMPLE]',
 '[entity]',
 'a',
 'and',
 'by',
 'did',
 'of',
 'that',
 'was',
 'were',
 'whose']

In [70]:
homo = lambda r: sum(role in r for role in roles) == 1
r = '(?:%s)' % '|'.join(fr'\[{role[1 : -1]}\]' for role in roles)
p0 = re.compile(fr'{r} and {r}|(?:{r} , )+and {r}')
p1 = re.compile('|'.join(fr'{r} and {r}|(?:{r} , )+and {r}' for r in [fr'\[{role[1 : -1]}\]' for role in roles]))
p0, p1

(re.compile(r'(?:\[NP_SIMPLE\]|\[entity\]|\[ADJECTIVE_SIMPLE\]|\[VP_SIMPLE\]|\[ROLE_SIMPLE\]) and (?:\[NP_SIMPLE\]|\[entity\]|\[ADJECTIVE_SIMPLE\]|\[VP_SIMPLE\]|\[ROLE_SIMPLE\])|(?:(?:\[NP_SIMPLE\]|\[entity\]|\[ADJECTIVE_SIMPLE\]|\[VP_SIMPLE\]|\[ROLE_SIMPLE\]) , )+and (?:\[NP_SIMPLE\]|\[entity\]|\[ADJECTIVE_SIMPLE\]|\[VP_SIMPLE\]|\[ROLE_SIMPLE\])',
 re.UNICODE),
 re.compile(r'\[NP_SIMPLE\] and \[NP_SIMPLE\]|(?:\[NP_SIMPLE\] , )+and \[NP_SIMPLE\]|\[entity\] and \[entity\]|(?:\[entity\] , )+and \[entity\]|\[ADJECTIVE_SIMPLE\] and \[ADJECTIVE_SIMPLE\]|(?:\[ADJECTIVE_SIMPLE\] , )+and \[ADJECTIVE_SIMPLE\]|\[VP_SIMPLE\] and \[VP_SIMPLE\]|(?:\[VP_SIMPLE\] , )+and \[VP_SIMPLE\]|\[ROLE_SIMPLE\] and \[ROLE_SIMPLE\]|(?:\[ROLE_SIMPLE\] , )+and \[ROLE_SIMPLE\]',
 re.UNICODE))

In [71]:
re.findall(p0, df.rdd.map(lambda r: r['questionTemplate']).take(1)[0])

['[VP_SIMPLE] and [VP_SIMPLE]']

In [72]:
df.rdd.map(lambda r: r['questionTemplate']).map(lambda r: sorted(filter(homo, re.findall(p0, r))) != sorted(re.findall(p1, r))).reduce(add)

2662

In [80]:
to_collect = \
    df.rdd.filter(
        lambda r: sorted(filter(homo, re.findall(p0, r['questionTemplate']))) != sorted(re.findall(p1, r['questionTemplate']))
    ).map(lambda r: r['index'])
indices = to_collect.collect()

In [82]:
indices

[2670,
 3822,
 6538,
 11575,
 17671,
 26179,
 28663,
 29447,
 30290,
 30292,
 30307,
 33050,
 33066,
 33085,
 33530,
 34112,
 34121,
 34127,
 34817,
 34844,
 34865,
 37943,
 39215,
 40887,
 41398,
 44023,
 44854,
 45070,
 46404,
 46407,
 47126,
 47598,
 47602,
 47607,
 47873,
 47874,
 49226,
 49440,
 49881,
 49967,
 50266,
 50416,
 51741,
 51822,
 52700,
 54801,
 56001,
 56471,
 56529,
 56559,
 57435,
 58041,
 58109,
 59370,
 59672,
 60508,
 60902,
 60911,
 61139,
 61817,
 62176,
 63268,
 63367,
 63703,
 64126,
 64457,
 65108,
 65252,
 65951,
 66310,
 66497,
 66498,
 66499,
 67200,
 67201,
 67214,
 67215,
 67497,
 68335,
 68903,
 68906,
 69061,
 69637,
 70206,
 70269,
 70427,
 70529,
 70630,
 71336,
 71414,
 71418,
 71819,
 72040,
 74014,
 74615,
 75534,
 75883,
 76696,
 76801,
 76981,
 77016,
 77196,
 77258,
 77464,
 77722,
 81502,
 81893,
 83044,
 84349,
 84818,
 84821,
 85150,
 86170,
 86460,
 87134,
 87607,
 88163,
 88714,
 89721,
 89783,
 89943,
 90005,
 90335,
 90371,
 90682,
 90808,
 90970,
 91305,
 91638,
 91640,
 92816,
 92849,
 92877,
 92893,
 92898,
 92900,
 92904,
 92921,
 92947,
 93544,
 93545,
 93564,
 93784,
 94457,
 94460,
 94496,
 94498,
 94500,
 94512,
 94514,
 95551,
 95993,
 96562,
 96758,
 96790,
 96794,
 96810,
 96817,
 96830,
 96836,
 97360,
 97384,
 98031,
 98209,
 98241,
 98243,
 98252,
 98261,
 98293,
 98294,
 99227,
 99234,
 99257,
 99260,
 99271,
 99291,
 99300,
 99301,
 99319,
 99322,
 99753,
 99767,
 99780,
 100976,
 101708,
 102247,
 102271,
 103298,
 103308,
 103311,
 104429,
 104430,
 104431,
 105155,
 105176,
 105198,
 105212,
 108092,
 108465,
 108477,
 108498,
 108514,
 108517,
 109379,
 109380,
 109398,
 116879,
 123091,
 130933,
 130972,
 131052,
 131221,
 131422,
 131424,
 131488,
 131725,
 131988,
 132100,
 132211,
 132212,
 132550,
 132645,
 132996,
 133105,
 133311,
 133340,
 133375,
 133502,
 133601,
 133809,
 133862,
 134322,
 134366,
 134523,
 134649,
 134655,
 134698,
 134788,
 134942,
 134975,
 135045,
 135309,
 135328,
 135364,
 135501,
 135630,
 135715,
 135890,
 135918,
 136008,
 136026,
 136033,
 136034,
 136047,
 136063,
 136064,
 136075,
 136079,
 136088,
 136089,
 136106,
 136108,
 136118,
 136378,
 136445,
 136528,
 136532,
 136553,
 136556,
 136587,
 136858,
 136889,
 137168,
 137170,
 137181,
 137182,
 137188,
 137190,
 137191,
 137205,
 137228,
 137244,
 137339,
 137486,
 137518,
 137690,
 138039,
 138040,
 138041,
 138042,
 138044,
 138051,
 138072,
 138073,
 138234,
 138235,
 138237,
 138252,
 138358,
 138563,
 138596,
 138645,
 138660,
 138710,
 138864,
 139205,
 139210,
 139214,
 139215,
 139224,
 139225,
 139250,
 139256,
 139259,
 139277,
 139281,
 139285,
 139303,
 139623,
 139723,
 139726,
 139736,
 139743,
 139919,
 140453,
 140454,
 140654,
 140731,
 140735,
 140739,
 140743,
 140750,
 140760,
 140763,
 141118,
 141122,
 141151,
 141649,
 141650,
 141652,
 141653,
 141683,
 141691,
 141692,
 141697,
 141705,
 141709,
 141711,
 141713,
 141727,
 141758,
 141765,
 141767,
 141768,
 141769,
 141770,
 141771,
 141772,
 141773,
 141774,
 141775,
 141776,
 141777,
 141779,
 141780,
 141783,
 141788,
 141795,
 141821,
 141822,
 141823,
 141824,
 141825,
 141826,
 141827,
 141828,
 141829,
 141830,
 141831,
 141832,
 141836,
 141837,
 141838,
 141839,
 141858,
 141862,
 141870,
 141886,
 141893,
 141897,
 141898,
 141912,
 141914,
 141929,
 141945,
 141955,
 141961,
 141964,
 141968,
 141969,
 142074,
 142087,
 142089,
 142094,
 142099,
 142113,
 142122,
 142142,
 142145,
 142157,
 142160,
 142166,
 142188,
 142189,
 142198,
 142199,
 142252,
 142253,
 142273,
 142289,
 142305,
 142321,
 142322,
 142325,
 142336,
 142355,
 142370,
 142371,
 142373,
 142391,
 142392,
 142393,
 142394,
 142399,
 142403,
 142404,
 142406,
 142407,
 142408,
 142418,
 142426,
 142428,
 142431,
 142441,
 142450,
 142451,
 142454,
 142457,
 142461,
 142462,
 142463,
 142464,
 142468,
 142470,
 142472,
 142486,
 142487,
 142490,
 142492,
 142493,
 142511,
 142512,
 142514,
 142527,
 142550,
 142551,
 142552,
 142553,
 142565,
 142566,
 142576,
 142594,
 142595,
 142619,
 142625,
 142626,
 142627,
 142628,
 142629,
 142650,
 142682,
 142713,
 142714,
 142718,
 142722,
 142723,
 142726,
 142731,
 142740,
 142742,
 142743,
 142746,
 142747,
 142771,
 142794,
 142810,
 142813,
 142819,
 142835,
 142836,
 142854,
 142856,
 142859,
 142860,
 142870,
 142883,
 142913,
 142944,
 142962,
 142966,
 142979,
 142981,
 143009,
 143039,
 143042,
 143055,
 143106,
 143121,
 143140,
 143148,
 143169,
 143208,
 143222,
 143223,
 143224,
 143227,
 143228,
 143231,
 143238,
 143261,
 143346,
 143347,
 143355,
 143356,
 143385,
 143387,
 143388,
 143399,
 143427,
 143437,
 143443,
 143444,
 143445,
 143457,
 143459,
 143472,
 143477,
 143482,
 143490,
 143497,
 143502,
 143505,
 143506,
 143507,
 143512,
 143560,
 143566,
 143569,
 143579,
 143583,
 143589,
 143594,
 143647,
 143704,
 143709,
 143732,
 143747,
 143748,
 143755,
 143763,
 143768,
 143772,
 143778,
 143780,
 143785,
 143795,
 143810,
 143813,
 143814,
 143815,
 143816,
 143817,
 143819,
 143821,
 143826,
 143827,
 143858,
 143887,
 143902,
 143903,
 143904,
 143908,
 143947,
 143949,
 143951,
 143956,
 143970,
 143977,
 143982,
 143997,
 143998,
 144009,
 144017,
 144021,
 144045,
 144047,
 144064,
 144086,
 144088,
 144090,
 144092,
 144100,
 144101,
 144102,
 144111,
 144123,
 144124,
 144126,
 144141,
 144143,
 144188,
 144200,
 144207,
 144215,
 144224,
 144225,
 144239,
 144256,
 144258,
 144259,
 144275,
 144280,
 144291,
 144331,
 144332,
 144333,
 144334,
 144350,
 144353,
 144354,
 144355,
 144366,
 144388,
 144397,
 144402,
 144403,
 144404,
 144411,
 144413,
 144421,
 144422,
 144424,
 144436,
 144442,
 144443,
 144471,
 144472,
 144539,
 144558,
 144563,
 144566,
 144568,
 144569,
 144575,
 144580,
 144584,
 144594,
 144609,
 144618,
 144624,
 144625,
 144633,
 144635,
 144645,
 144716,
 144719,
 144748,
 144750,
 144757,
 144772,
 144788,
 144806,
 144815,
 144816,
 144829,
 144832,
 144833,
 144859,
 144871,
 144875,
 144878,
 144885,
 144899,
 144903,
 144907,
 144954,
 144975,
 144976,
 144981,
 144984,
 144988,
 144996,
 144998,
 145009,
 145013,
 145027,
 145039,
 145042,
 145047,
 145049,
 145051,
 145054,
 145055,
 145056,
 145057,
 145058,
 145060,
 145061,
 145064,
 145065,
 145067,
 145070,
 145096,
 145109,
 145120,
 145123,
 145137,
 145182,
 145208,
 145211,
 145227,
 145229,
 145250,
 145255,
 145269,
 145272,
 145273,
 145284,
 145290,
 145304,
 145306,
 145315,
 145320,
 145322,
 145323,
 145325,
 145334,
 145343,
 145344,
 145349,
 145356,
 145388,
 145389,
 145405,
 145409,
 145457,
 145475,
 145481,
 145518,
 145550,
 145556,
 145557,
 145560,
 145568,
 145592,
 145606,
 145607,
 145609,
 145611,
 145618,
 145622,
 145632,
 145636,
 145638,
 145640,
 145667,
 145669,
 145671,
 145680,
 145681,
 145682,
 145692,
 145702,
 145705,
 145727,
 145743,
 145758,
 145770,
 145778,
 145784,
 145800,
 145807,
 145808,
 145818,
 145819,
 145823,
 145824,
 145839,
 145840,
 145847,
 145851,
 145861,
 145877,
 145903,
 145931,
 145938,
 145940,
 145941,
 145952,
 145985,
 145986,
 145987,
 145991,
 145995,
 145997,
 145999,
 146007,
 146009,
 146038,
 146062,
 146070,
 146089,
 146107,
 146138,
 146159,
 146170,
 146198,
 146211,
 146216,
 146239,
 146240,
 146254,
 146261,
 146269,
 146280,
 146281,
 146284,
 146297,
 146298,
 146306,
 146313,
 146314,
 146324,
 146336,
 146340,
 146343,
 146354,
 146366,
 146367,
 146368,
 146372,
 146382,
 146388,
 146394,
 146399,
 146405,
 146406,
 146410,
 146412,
 146414,
 146417,
 146420,
 146425,
 146434,
 146451,
 146460,
 146466,
 146470,
 146471,
 146508,
 146509,
 146513,
 146528,
 146534,
 146535,
 146541,
 146547,
 146549,
 146560,
 146561,
 146589,
 146595,
 146597,
 146604,
 146605,
 146606,
 146608,
 146618,
 146620,
 146621,
 146623,
 146630,
 146636,
 146637,
 146642,
 146643,
 146646,
 146649,
 146650,
 146653,
 146658,
 146661,
 146667,
 146686,
 146691,
 146692,
 146731,
 146760,
 146765,
 146779,
 146785,
 146807,
 147001,
 147196,
 147284,
 147290,
 147305,
 147327,
 147360,
 147361,
 147362,
 147363,
 147382,
 147399,
 147406,
 147413,
 147417,
 147433,
 147436,
 147443,
 147506,
 147523,
 147531,
 147536,
 147557,
 147561,
 147563,
 147574,
 147589,
 147628,
 147651,
 147654,
 147667,
 147668,
 147670,
 147674,
 147676,
 147684,
 147692,
 147694,
 147702,
 147709,
 147745,
 147757,
 147759,
 147764,
 147769,
 147791,
 147792,
 147828,
 147838,
 147840,
 147844,
 147847,
 147849,
 147851,
 147860,
 147864,
 147879,
 147889,
 147892,
 147897,
 147902,
 147903,
 147925,
 147944,
 147945,
 147950,
 147951,
 147961,
 147983,
 147986,
 147988,
 148003,
 148007,
 148012,
 148029,
 148030,
 148031,
 148032,
 148033,
 148034,
 148036,
 148038,
 148042,
 148058,
 148074,
 148088,
 148091,
 148117,
 ...]

In [83]:
for i in [1, 2, 3]:
    for k, v in splits[f'mcd{i}'].items():
        print(k, np.sum(np.isin(indices, v)) / len(v))

trainIdxs 0.004741861023782418
devIdxs 0.007520053475935829
testIdxs 0.005932486631016043
trainIdxs 0.005420761831152147
devIdxs 0.004595588235294118
testIdxs 0.004261363636363636
trainIdxs 0.0023500412562798326
devIdxs 0.004177807486631016
testIdxs 0.0035093582887700536

In [84]:
df.rdd.map(lambda r: r['questionTemplate']).filter(lambda r: sorted(filter(homo, re.findall(p0, r))) != sorted(re.findall(p1, r))).take(10)

['Did [entity] [VP_SIMPLE] a [ADJECTIVE_SIMPLE] [NP_SIMPLE] that [entity] , [entity] , and [entity] [VP_SIMPLE] and [entity] and [entity] [VP_SIMPLE]',
 'Did [entity] [VP_SIMPLE] a [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] and [entity] [VP_SIMPLE]',
 'Did [entity] [VP_SIMPLE] a [NP_SIMPLE] that [entity] , [entity] , and [entity] [VP_SIMPLE] and [entity] and [entity] were [VP_SIMPLE] by',
 'Did [entity] and [entity] [VP_SIMPLE] a [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] and [entity] [VP_SIMPLE]',
 'Did [entity] [VP_SIMPLE] a [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] and [entity] were [VP_SIMPLE] by',
 'Did a [ADJECTIVE_SIMPLE] [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] and [entity] were [VP_SIMPLE] by [VP_SIMPLE] [entity]',
 'Did a [ADJECTIVE_SIMPLE] [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] , [entity] , and [entity] [VP_SIMPLE] [VP_SIMPLE] [entity]',
 'Did a [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] , [entity] , and [entity] were [VP_SIMPLE] by [VP_SIMPLE] [entity]',
 'Did a [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] , [entity] , [entity] , and [entity] [VP_SIMPLE] [VP_SIMPLE] [entity]',
 'Did a [NP_SIMPLE] that [entity] and [entity] [VP_SIMPLE] and [entity] and [entity] [VP_SIMPLE] [VP_SIMPLE] [entity] and [entity]']

In [85]:
df.rdd.map(lambda r: r['questionTemplate']).filter(lambda r: sorted(filter(homo, re.findall(p0, r))) != sorted(re.findall(p1, r))).map(lambda r: sorted(filter(homo, re.findall(p0, r)))).take(10)

[['[entity] , [entity] , and [entity]'],
 ['[entity] and [entity]'],
 ['[entity] , [entity] , and [entity]'],
 ['[entity] and [entity]', '[entity] and [entity]'],
 ['[entity] and [entity]'],
 ['[entity] and [entity]'],
 ['[entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] , [entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] and [entity]', '[entity] and [entity]']]

In [86]:
df.rdd.map(lambda r: r['questionTemplate']).filter(lambda r: sorted(filter(homo, re.findall(p0, r))) != sorted(re.findall(p1, r))).map(lambda r: sorted(re.findall(p1, r))).take(10)

[['[entity] , [entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] and [entity]', '[entity] and [entity]'],
 ['[entity] , [entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] and [entity]', '[entity] and [entity]', '[entity] and [entity]'],
 ['[entity] and [entity]', '[entity] and [entity]'],
 ['[entity] and [entity]', '[entity] and [entity]'],
 ['[entity] , [entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] , [entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] , [entity] , [entity] , and [entity]', '[entity] and [entity]'],
 ['[entity] and [entity]', '[entity] and [entity]', '[entity] and [entity]']]

In [87]:
df.rdd.map(lambda r: r['questionTemplate']).map(lambda r: all(map(homo, re.findall(p1, r)))).reduce(and_)

True

In [88]:
df.count()

239357

In [89]:
# r = '(?:%s)' % '|'.join(fr'\[{role[1 : -1]}\]' for role in roles)
# p = re.compile(fr'{r} and {r}|(?:{r} , )+and {r}')
p = re.compile('|'.join(fr'{r} and {r}|(?:{r} , )+and {r}' for r in [fr'\[{role[1 : -1]}\]' for role in roles]))
def grp_by_tag(tags):
    lens = np.array(list(map(len, tags)))
    ends = np.cumsum(lens) + np.arange(len(tags))
    starts = ends - lens

    t = ' '.join(tags)
    homo = lambda s: sum(role in s for role in roles) == 1
    matches = [m for m in re.finditer(p, t) if homo(m.group())]
    if not matches:
        grps = [[i] for i in range(len(tags))]
        return grps
    
    m_start, m_end = zip(*([m.start(), m.end()] for m in matches))
    hit = False
    grps = []
    for idx, [start, end] in enumerate(zip(starts, ends)):
        if start in m_start:
            hit = True
            grps.append([])
        if hit:
            grps[-1].append(idx)
        else:
            grps.append([idx])
        if end in m_end:
            hit = False
    
    for start, end, grp in zip(m_start, m_end, (grp for grp in grps if len(grp) > 1)):
        assert t[start : end] == ' '.join(tags[idx] for idx in grp)

    return grps

def _mapper(r):
    rels = list(map(find_rel, r['sparqlPatternModEntities'].split('\n')[1 : -1]))
    srcs, typs, dsts = zip(*rels)
    ents = sorted({x for x in chain(srcs, dsts) if re.match('M\d', x) or re.match('\?x\d', x)})

    tail = [SEP] + sorted(ent for ent in ents if ent.startswith('?x')) + [NIL]
    toks = r['questionPatternModEntities'].split(' ') + tail
    tags = r['questionTemplate'].split(' ') + tail
    grps = grp_by_tag(tags)

    seq = [tag2idx[tags[idx]] for idx, *_ in grps]
    mem = [[tok2idx[toks[grp[0]]]] if len(grp) == 1 else
           [tok2idx[toks[idx]] for idx in grp if tags[idx] in roles] for grp in grps]
    
    ent2grp = {}
    for idx, tok in zip(chain(*(len(grp) * [idx] for idx, grp in enumerate(grps))), toks):
        if tok in ents:
            ent2grp[tok] = idx
    idx2grp = sorted(set(ent2grp.values()))
    ent2idx = {ent: idx2grp.index(ent2grp[ent]) for ent in ents}
    _, idx2ent = zip(*sorted(ent2idx.items(), key=at(1)))
    
    # filters
    filters = [[ent2idx[src], ent2idx[dst]] for src, typ, dst in rels if typ == '!=']
    
    # attributes
    ent2attr = np.zeros([len(idx2grp), len(idx2attr)])
    for src, _, dst in rels:
        if dst in idx2attr:
            ent2attr[ent2idx[src], idx2attr.index(dst)] = 1

    # groundable relations
    gr_rels = [[ent2idx[src], ent2idx[dst], idx2typ.index(typ)] for src, typ, dst in rels if typ in idx2typ]

    return filters, ent2attr, gr_rels, seq, mem, idx2grp

dat = {}
collect = lambda rdd: np.array(rdd.collect())

# print(_mapper(df.rdd.take(10)[-1]))
# _mapper(df.where(df.index == 13).rdd.take(1)[0])
rdd = df.rdd.map(_mapper).cache()
dat['n_filter'] = collect(rdd.map(at(0)).map(len))
dat['filter'] = collect(rdd.flatMap(at(0)))
dat['attr'] = np.vstack(rdd.map(at(1)).collect())
dat['n_rel'] = collect(rdd.map(at(2)).map(len))
dat['src'] = collect(rdd.flatMap(at(2)).map(at(0)))
dat['dst'] = collect(rdd.flatMap(at(2)).map(at(1)))
dat['typ'] = collect(rdd.flatMap(at(2)).map(at(2)))
dat['seq'] = collect(rdd.flatMap(at(3)))
dat['n_grp'] = collect(rdd.map(at(4)).map(len))
dat['n_mem'] = collect(rdd.flatMap(at(4)).map(len))
dat['mem'] = collect(rdd.flatMap(at(4)).flatMap(lambda r: r))
dat['n'] = collect(rdd.map(at(5)).map(len))
dat['idx2grp'] = collect(rdd.flatMap(at(5)))

In [90]:
tags = "Did [entity] [VP_SIMPLE] [entity] 's [ROLE_SIMPLE] , [ROLE_SIMPLE] , [ROLE_SIMPLE] , [ROLE_SIMPLE] , [ROLE_SIMPLE] , and [ROLE_SIMPLE] and [VP_SIMPLE] [entity]".split(' ')

In [91]:
grps = [[tags[idx] for idx in grp] for grp in grp_by_tag(tags)]

In [92]:
sum(map(len, grps))

20

In [93]:
len(tags)

20

In [94]:
np.unique(dat['typ'], return_counts=True)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36]),
 array([ 1088,  2171, 19286, 16942, 37356, 30865, 60617, 60634,    99,
           56, 57981,  9712, 57106, 57805,   101,  6337, 50440,  6906,
        11668, 59613, 25045, 19961,  5210, 48110, 48275, 60544, 34149,
        64052,  7584,  5814, 23239, 36247, 16142, 42710, 15451, 20668,
        61439]))

In [95]:
pickle.dump([idx2tok, tok2idx], open(f'{output_dir}/tok-vocab.pickle', 'wb'))
pickle.dump([idx2tag, tag2idx], open(f'{output_dir}/tag-vocab.pickle', 'wb'))
pickle.dump([idx2typ, typ2idx], open(f'{output_dir}/typ-vocab.pickle', 'wb'))
np.savez(f'{output_dir}/data', **dat)

In [96]:
def _mapper(r):
    r, [filters, ent2attr, gr_rels, seq, mem, idx2grp] = r
    rels = set()
    for src, dst, typ in gr_rels:
        for x, y in product(mem[idx2grp[src]], mem[idx2grp[dst]]):
            rels.add(f'{idx2tok[x]} {idx2typ[typ]} {idx2tok[y]}')
#     print(sorted(rels))
    isrel = lambda r: all(s not in r for s in ['!=', ' a ', ' ns:people.person.gender', ' ns:people.person.nationality'])
    xs = ''.join(r['sparqlPatternModEntities'].split('\n')[1 : -1]).split(' .')
#     print(sorted(filter(isrel, xs)))
    return sorted(rels), sorted(filter(isrel, xs)), r['questionPatternModEntities'], r['questionTemplate'], r['index']

In [97]:
_mapper(df.rdd.zip(rdd).take(1)[0])

(['?x0 ns:film.actor.film/ns:film.performance.character M1',
  '?x0 ns:film.editor.film M0',
  '?x0 ns:film.producer.film|ns:film.production_company.films M0'],
 ['?x0 ns:film.actor.film/ns:film.performance.character M1',
  '?x0 ns:film.editor.film M0',
  '?x0 ns:film.producer.film|ns:film.production_company.films M0'],
 "Did M1 's female actor edit and produce M0",
 "Did [entity] 's [ADJECTIVE_SIMPLE] [ROLE_SIMPLE] [VP_SIMPLE] and [VP_SIMPLE] [entity]",
 0)

In [99]:
df.where(df.index == 13).rdd.map(_mapper).take(1)[0]

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 431.0 failed 1 times, most recent failure: Lost task 0.0 in stage 431.0 (TID 41056, ip-172-31-4-27.ec2.internal, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 605, in main
    process()
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 597, in process
    serializer.dump_stream(out_iter, outfile)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 271, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/spark/python/pyspark/rdd.py", line 1440, in takeUpToNumLeft
    yield next(iterator)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/util.py", line 107, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-96-1364f147c782>", line 2, in _mapper
ValueError: too many values to unpack (expected 2)

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:503)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:638)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:621)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:456)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:941)
	at scala.collection.Iterator.foreach$(Iterator.scala:941)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:315)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:313)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:307)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:307)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:294)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:288)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:154)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2139)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:446)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:449)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:834)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2008)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2007)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2007)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:973)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2239)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2188)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2177)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:775)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2099)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2120)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2139)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:154)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at jdk.internal.reflect.GeneratedMethodAccessor1008.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 605, in main
    process()
  File "/opt/spark/python/lib/pyspark.zip/pyspark/worker.py", line 597, in process
    serializer.dump_stream(out_iter, outfile)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 271, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/spark/python/pyspark/rdd.py", line 1440, in takeUpToNumLeft
    yield next(iterator)
  File "/opt/spark/python/lib/pyspark.zip/pyspark/util.py", line 107, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-96-1364f147c782>", line 2, in _mapper
ValueError: too many values to unpack (expected 2)

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:503)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:638)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:621)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:456)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:941)
	at scala.collection.Iterator.foreach$(Iterator.scala:941)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:315)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:313)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:307)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:307)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:294)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:288)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:154)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2139)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:446)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:449)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more

In [100]:
df.rdd.zip(rdd).map(_mapper).filter(lambda r: r[0] != r[1]).count()

51

In [101]:
df.rdd.zip(rdd).map(_mapper).filter(lambda r: r[0] != r[1]).take(10)

[(['?x0 ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings ?x1',
   '?x1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x2',
   '?x2 ns:film.actor.film/ns:film.performance.film M1',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M3',
   'M4 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M4 ns:business.employer.employees/ns:business.employment_tenure.person M3'],
  ['?x0 ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings ?x1',
   '?x1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x2',
   '?x2 ns:film.actor.film/ns:film.performance.film M1',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M3',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M3',
   'M4 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M4 ns:business.employer.employees/ns:business.employment_tenure.person M3'],
  "Did M2 , M4 , and M2 employ M3 and employ M1 's star 's American spouse 's sibling",
  "Did [entity] , [entity] , and [entity] [VP_SIMPLE] [entity] and [VP_SIMPLE] [entity] 's [ROLE_SIMPLE] 's [ADJECTIVE_SIMPLE] [ROLE_SIMPLE] 's [ROLE_SIMPLE]",
  1666),
 (['?x0 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x1',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M2',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M3',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M4',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M5'],
  ['?x0 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x1',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M2',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M2',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M3',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M4',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M5'],
  "Did M1 employ M2 , M2 , and M3 , employ a filmdirector 's parent , and employ M4 and M5",
  "Did [entity] [VP_SIMPLE] [entity] , [entity] , and [entity] , [VP_SIMPLE] a [NP_SIMPLE] 's [ROLE_SIMPLE] , and [VP_SIMPLE] [entity] and [entity]",
  3001),
 (['?x0 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x1',
   '?x1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x2',
   'M3 ns:film.film.starring/ns:film.performance.actor ?x0',
   'M3 ns:film.film.starring/ns:film.performance.actor ?x3'],
  ['?x0 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x1',
   '?x1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x2',
   'M3 ns:film.film.starring/ns:film.performance.actor ?x0',
   'M3 ns:film.film.starring/ns:film.performance.actor ?x0',
   'M3 ns:film.film.starring/ns:film.performance.actor ?x3',
   'M3 ns:film.film.starring/ns:film.performance.actor ?x3'],
  "Did M3 and M3 star a Spanish filmdirector 's spouse 's parent and star a person",
  "Did [entity] and [entity] [VP_SIMPLE] a [ADJECTIVE_SIMPLE] [NP_SIMPLE] 's [ROLE_SIMPLE] 's [ROLE_SIMPLE] and [VP_SIMPLE] a [NP_SIMPLE]",
  3845),
 (['?x0 ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings ?x1',
   'M1 ns:influence.influence_node.influenced M2',
   'M1 ns:influence.influence_node.influenced M3',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0'],
  ['?x0 ns:people.person.sibling_s/ns:people.sibling_relationship.sibling|ns:fictional_universe.fictional_character.siblings/ns:fictional_universe.sibling_relationship_of_fictional_characters.siblings ?x1',
   'M1 ns:influence.influence_node.influenced M2',
   'M1 ns:influence.influence_node.influenced M2',
   'M1 ns:influence.influence_node.influenced M3',
   'M1 ns:influence.influence_node.influenced M3',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0'],
  "Did M1 and M1 influence M2 and M3 and marry a filmproducer 's sibling",
  "Did [entity] and [entity] [VP_SIMPLE] [entity] and [entity] and [VP_SIMPLE] a [NP_SIMPLE] 's [ROLE_SIMPLE]",
  5391),
 (['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M2'],
  ['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M2',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M2'],
  "Did M1 and M1 marry a costumedesigner 's spouse and marry M2",
  "Did [entity] and [entity] [VP_SIMPLE] a [NP_SIMPLE] 's [ROLE_SIMPLE] and [VP_SIMPLE] [entity]",
  6454),
 (['?x0 ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent ?x1',
   '?x1 ns:film.director.film M1',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M3',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M4',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M5'],
  ['?x0 ns:people.person.parents|ns:fictional_universe.fictional_character.parents|ns:organization.organization.parent/ns:organization.organization_relationship.parent ?x1',
   '?x1 ns:film.director.film M1',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M3',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M4',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M4',
   'M2 ns:business.employer.employees/ns:business.employment_tenure.person M5'],
  "Did M2 employ M3 , M4 , M5 , and M4 and employ M1 's Japanese director 's child",
  "Did [entity] [VP_SIMPLE] [entity] , [entity] , [entity] , and [entity] and [VP_SIMPLE] [entity] 's [ADJECTIVE_SIMPLE] [ROLE_SIMPLE] 's [ROLE_SIMPLE]",
  7953),
 (['?x0 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x1',
   '?x1 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x2',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M2',
   'M3 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M3 ns:business.employer.employees/ns:business.employment_tenure.person M2'],
  ['?x0 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x1',
   '?x1 ns:people.person.children|ns:fictional_universe.fictional_character.children|ns:organization.organization.child/ns:organization.organization_relationship.child ?x2',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M1 ns:business.employer.employees/ns:business.employment_tenure.person M2',
   'M3 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M3 ns:business.employer.employees/ns:business.employment_tenure.person ?x0',
   'M3 ns:business.employer.employees/ns:business.employment_tenure.person M2',
   'M3 ns:business.employer.employees/ns:business.employment_tenure.person M2'],
  "Did M1 , M3 , and M3 employ M2 and employ a filmdirector 's parent 's parent",
  "Did [entity] , [entity] , and [entity] [VP_SIMPLE] [entity] and [VP_SIMPLE] a [NP_SIMPLE] 's [ROLE_SIMPLE] 's [ROLE_SIMPLE]",
  9994),
 (['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   'M3 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M3 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M4'],
  ['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   'M3 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M3 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M4',
   'M3 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M4'],
  "Did M3 marry a Italian cinematographer 's American spouse and marry M4 and M4",
  "Did [entity] [VP_SIMPLE] a [ADJECTIVE_SIMPLE] [NP_SIMPLE] 's [ADJECTIVE_SIMPLE] [ROLE_SIMPLE] and [VP_SIMPLE] [entity] and [entity]",
  11133),
 (['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   '?x1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x2',
   'M2 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0'],
  ['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   '?x1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x2',
   'M2 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M2 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0'],
  "Did M2 and M2 marry a artdirector 's spouse 's Italian spouse",
  "Did [entity] and [entity] [VP_SIMPLE] a [NP_SIMPLE] 's [ROLE_SIMPLE] 's [ADJECTIVE_SIMPLE] [ROLE_SIMPLE]",
  14128),
 (['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M2',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M3'],
  ['?x0 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x1',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses ?x0',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M2',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M2',
   'M1 ns:people.person.spouse_s/ns:people.marriage.spouse|ns:fictional_universe.fictional_character.married_to/ns:fictional_universe.marriage_of_fictional_characters.spouses M3'],
  "Did M1 marry M2 , marry M2 , marry M3 , and marry a artdirector 's spouse",
  "Did [entity] [VP_SIMPLE] [entity] , [VP_SIMPLE] [entity] , [VP_SIMPLE] [entity] , and [VP_SIMPLE] a [NP_SIMPLE] 's [ROLE_SIMPLE]",
  14256)]

In [102]:
'M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0' == 'M2 ns:business.employer.employees/ns:business.employment_tenure.person ?x0'

True

In [103]:
print(df.rdd.map(lambda r: r['sparqlPatternModEntities']).take(1)[0])

SELECT count(*) WHERE {
?x0 ns:film.actor.film/ns:film.performance.character M1 .
?x0 ns:film.editor.film M0 .
?x0 ns:film.producer.film|ns:film.production_company.films M0 .
?x0 ns:people.person.gender ns:m.02zsn
}

## Variable prediction

In [107]:
d = {}
tok_rdd = df.rdd.map(lambda r: [tok2idx[tok] for tok in r['questionPatternModEntities'].split(' ')])
d['seq'] = tok_rdd.collect()
d['n_tok'] = tok_rdd.map(len).collect()
d['n_var'] = df.rdd.map(lambda r: len(set(re.findall(r'\?x[0-9]', r['sparqlPatternModEntities'])))).collect()
np.savez(f'{output_dir}/nvar', **d)